<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="param_name" value="PV"/>    
  </appSettings>
  <connectionStrings>
    <add name="archmConnectionString"
        connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Experion;Persist Security Info=True;User ID=user;Password=passwd"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
